.container {
	width: 5px;
	height: 670px;
	background: #83afe2;
	color: #141614;
	border-color: #b17676;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	
	text-align:left;
}

label {
	width: auto;
	height: auto;
	
}
h5 {
    text-align:left;

	color: rgb(11, 11, 12);
	
}


  #customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
  }


h1 {
	text-align: center;
	color: #5daa04;
}

.topnav {
    background-color: rgb(41, 46, 48);
    overflow: hidden;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }


  

